@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBg {
    background-color: #4f05c7;
    background-image: linear-gradient(19deg, #4f05c7 0%, #010c14 100%);
}

.mainHeaderButton {
    @apply px-5 py-2 h-11 rounded-lg flex justify-center relative items-center gap-2  text-textColor hover:opacity-75 active:scale-95
}

.headerGlassyButton {
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.64);
}

.header {
    backdrop-filter: blur(12.8px);
    -webkit-backdrop-filter: blur(12.8px);
}

.authBoxBackground {
    background: rgba(1, 12, 20, 0.20);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(1, 12, 20, 0.45);
}

.styleAdjustorInput {
    @apply pl-1 w-[25%] rounded-md bg-primary_button focus:outline-none hover:brightness-90;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.dashboardTopNav { grid-area: 1 / 2 / 2 / 6; }
.dashboardSideNav { grid-area: 1 / 1 / 6 / 2; }
.dashboardContent { grid-area: 2 / 2 / 6 / 6; }

.layoutButton {
    @apply p-1.5 rounded-full hover:bg-accentColor2 relative flex justify-center
}

.layoutButtonToolTip {
    @apply bg-accentColor2 text-xs absolute top-8 px-1.5 rounded-sm scale-0 transition-all duration-100
}

.layoutButton:hover > .layoutButtonToolTip {
    @apply scale-100
}

#contentBox:hover > #favorite {
    @apply scale-100
}